<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
  <!-- กำหนดพื้นที่แสดงผลให้เป็นพื้นผิวที่เรียบง่าย พร้อมจัดแนวกลาง -->

  <div class="flex flex-column align-items-center justify-content-center">
    <!-- กล่องย่อยสำหรับจัดกลุ่มเนื้อหา -->

    <!-- <img src="assets/layout/images/6428956.png" alt="Sakai logo" class="mb-5 w-6rem flex-shrink-0"> -->
    <!-- สร้างภาพโลโก้ (ถูกคอมเมนต์ออก) -->

    <div
      style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
      <!-- กล่องที่มีการปรับขอบให้มน และพื้นหลังเป็นกราเดียนต์ -->

      <div class="w-full surface-card py-3 px-5 sm:px-8" style="border-radius:53px">
        <!-- กล่องเนื้อหาหลัก -->

        <div class="text-center mb-5">
          <!-- ส่วนหัวของฟอร์ม -->

          <img src="assets/layout/images/Logo_minebeamitsumi.png" alt="Image" height="30" class="mb-1">
          <!-- โลโก้ของแอป -->

          <div class="text-900 text-3xl font-medium mb-1">Welcome!</div>
          <!-- ข้อความต้อนรับ -->
        </div>

        <div *ngIf="error" class="alert alert-danger">{{error}}</div>
        <!-- แสดงข้อความผิดพลาดถ้ามี -->

        <form class="form" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
          <!-- ฟอร์มรีเซ็ตรหัสผ่าน -->

          <div class="mb-0">
            <label class="block text-900 text-xl font-medium mb-1">Employee No.</label>
            <!-- ชื่อฟิลด์สำหรับหมายเลขพนักงาน -->

            <input type="text" formControlName="username" placeholder="Employee No" pInputText
              class="form-control w-full md:w-20rem mb-2" />
            <!-- ช่องกรอกหมายเลขพนักงาน -->

            <div *ngIf="userName.invalid && (userName.dirty || userName.touched)"
              class="form-text text-danger">
              <!-- แสดงข้อความเตือนถ้าข้อมูลไม่ถูกต้อง -->

              <div *ngIf="userName.errors?.['required']" style="color:red">
                *Field is required
              </div>
            </div>
          </div>

          <div class="mb-2">
            <label class="block text-900 font-medium text-xl mb-2">Birth Date</label>
            <!-- ชื่อฟิลด์สำหรับวันเกิด -->

            <input type="password" formControlName="b_date" placeholder="YYYYMMDD" pInputText
              class="form-control w-full md:w-20rem" />
            <!-- ช่องกรอกวันเกิด -->

            <div *ngIf="birthday.invalid && (birthday.dirty || birthday.touched)"
              class="form-text text-danger">
              <!-- แสดงข้อความเตือนถ้าข้อมูลไม่ถูกต้อง -->

              <div *ngIf="birthday.errors?.['required']" style="color:red">
                Field is required
              </div>
              <div *ngIf="birthday.errors?.['pattern']">
                Password must contain at format YYYYMMDD<br>Password cannot contain whitespace
              </div>
            </div>
          </div>

          <div class="mb-1">
            <label for="newPassword" class="block text-900 font-medium text-xl mb-2">New password: </label>
            <!-- ชื่อฟิลด์สำหรับรหัสผ่านใหม่ -->

            <input id="newPassword" type="password" class="form-control w-full md:w-20rem" formControlName="newPassword"
              #pw pInputText>
            <!-- ช่องกรอกรหัสผ่านใหม่ -->

            <div *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)"
              class="form-text text-danger">
              <!-- แสดงข้อความเตือนถ้าข้อมูลไม่ถูกต้อง -->

              <div *ngIf="newPassword.errors?.['required']" style="color:red">
                Field is required
              </div>
              <div *ngIf="newPassword.errors?.['pattern']">
                Password must contain at least one number, one uppercase and a lowercase letter
                and at least 6 characters<br>Password cannot contain whitespace
              </div>
            </div>
          </div>

          <div class="mb-3">
            <label for="confirmPassword" class="block text-900 font-medium text-xl mb-2">New password
              (confirmation):</label>
            <!-- ชื่อฟิลด์สำหรับยืนยันรหัสผ่านใหม่ -->

            <input id="confirmPassword" type="password" class="form-control w-full md:w-20rem"
              [ngClass]='confirmPasswordClass' pInputText formControlName="confirmPassword" #cpw>
            <!-- ช่องกรอกยืนยันรหัสผ่านใหม่ -->

            <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)"
              class="form-text text-danger">
              <!-- แสดงข้อความเตือนถ้าข้อมูลไม่ถูกต้อง -->

              <div *ngIf="confirmPassword.errors?.['required']" style="color:red">
                Field is required
              </div>

              <div *ngIf="confirmPassword.errors?.['confirmedValidator']" style="color:red">
                Passwords did not match
              </div>
            </div>
          </div>

          <div>
            <button pButton pRipple label="Update" [disabled]="!resetPasswordForm.valid"
              class="w-full p-3 text-xl mb-2">
              <!-- ปุ่มสำหรับอัปเดตรหัสผ่านใหม่ -->

              <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
              <!-- แสดงสัญลักษณ์การโหลดถ้ากำลังโหลด -->
            </button>

            <p>Go to<a routerLink="/" class="btn btn-link"> Dashboard</a></p>
            <!-- ลิงก์ไปยังแดชบอร์ด -->
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
