<div class="button-group">
  <!-- ปุ่มด้านบนชิดซ้าย -->
  <div class="left-buttons">
    <button type="button" class="custom-button master-button" routerLink="/pages/grinding-add-master">
      Add master
    </button>

    <button type="button" class="custom-button update-button" routerLink="/pages/grinding-update">
      Update master
    </button>

    <button type="button" class="custom-button excel-button" routerLink="/pages/grinding-add-excel">
      Add excel
    </button>
  </div>

  <!-- ปุ่ม Back อยู่ข้างล่าง -->
  <div class="bottom-button">
    <button type="button" class="btn-back" (click)="onBack()">
      <i class="pi pi-arrow-left"></i> Back
    </button>
  </div>
</div>
