<div class="layout-footer"> <!-- สร้าง div สำหรับ footer ของ layout -->
  <!-- แสดงภาพโลโก้ -->
  <!-- มีคำอธิบายภาพว่า "Logo" และตั้งความสูงที่ 20px, ใช้คลาส mr-2 สำหรับระยะห่างด้านขวา -->
  <img src="assets/layout/images/icons8-logo-96.svg"
    alt="Logo" height="20" class="mr-2" style="vertical-align: middle;"/>
  by <!-- ข้อความบอกว่า "โดย" -->
  <span class="font-medium ml-2" style="vertical-align: middle;">Internship cost</span> <!-- แสดงชื่อผู้สร้าง (Programmer GMMA) โดยใช้คลาส font-medium สำหรับการจัดรูปแบบตัวอักษร, ml-2 สำหรับระยะห่างด้านซ้าย -->

  <span class="ml-2" style="vertical-align: middle;">Version 1.0.0</span> <!-- แสดงหมายเลขเวอร์ชัน (Version 1.0.0) โดยใช้คลาส ml-2 สำหรับระยะห่างด้านซ้าย -->
</div>
