<div class="main-content">
  <h2 class="page-title">History Request</h2>
  <div class="buttons-container">
    <!-- ปุ่มสำหรับ Cutting Tool Admin -->
    <button
      pButton
      label="Cutting Tool"
      class="custom-button cutting-tool"
      routerLink="/pages/history"
    ></button>

    <!-- ปุ่มสำหรับ Cutting Oil Admin -->
    <button
      pButton
      label="Cutting-Oil"
      class="custom-button cutting-oil"
      routerLink="/pages/history-oil"
    ></button>

    <!-- ปุ่มสำหรับ Grinding Material Admin -->
    <button
      pButton
      label="Grinding Material"
      class="custom-button grinding"
      routerLink="/pages/history-grinding"
    ></button>
    <!-- ปุ่มสำหรับ Machine Setup Tool -->
    <button
      pButton
      label="Machine Set Up Tool"
      class="custom-button setup-tool"
      routerLink="/pages/history-setup"
    ></button>

    <!-- ปุ่มสำหรับ Cleaning Solution -->
    <button
      pButton
      label="Cleaning Solution"
      class="custom-button cleaning"
      routerLink="/pages/history-cleaning"
    ></button>

    <!-- ปุ่มสำหรับ Other Admin -->
    <button
      pButton
      label="Other"
      class="custom-button other"
      routerLink="/pages/history-other"
    ></button>
  </div>
</div>

