::ng-deep {  // ใช้เพื่อสไตล์คอมโพเนนต์ที่อยู่ลึกลงไปในโครงสร้างของ Angular

  .p-datepicker td > span {  // กำหนดสไตล์สำหรับ span ที่อยู่ภายใน td ของ p-datepicker
    width: 18px !important;  // กำหนดความกว้างเป็น 18px โดยบังคับให้มีผล
    height: 18px !important;  // กำหนดความสูงเป็น 18px โดยบังคับให้มีผล
    font-size: smaller;  // กำหนดขนาดฟอนต์เป็นขนาดที่เล็กลง
  }

  label {  // กำหนดสไตล์สำหรับป้ายกำกับ (label)
    color: #000000;  // ตั้งค่าสีข้อความเป็นสีดำ
    font-size: medium;  // กำหนดขนาดฟอนต์เป็นขนาดกลาง
    font-weight: 500 !important;  // ตั้งน้ำหนักฟอนต์เป็น 500 โดยบังคับให้มีผล
    display: block;  // ทำให้ป้ายกำกับแสดงในลักษณะบล็อก
    margin-right: 1rem;  // กำหนดระยะห่างขวาเป็น 1rem
  }

  .symbol > label {  // กำหนดสไตล์สำหรับป้ายกำกับที่อยู่ภายใน .symbol
    color: #000000;  // ตั้งค่าสีข้อความเป็นสีดำ
    font-size: 16px !important;  // กำหนดขนาดฟอนต์เป็น 16px โดยบังคับให้มีผล
    font-weight: 400 !important;  // ตั้งน้ำหนักฟอนต์เป็น 400 โดยบังคับให้มีผล
    display: flex !important;  // ทำให้ป้ายกำกับแสดงในลักษณะ flex
    margin-right: 1.2rem;  // กำหนดระยะห่างขวาเป็น 1.2rem
  }

  .dateerror {  // กำหนดสไตล์สำหรับคลาส dateerror
    color: red;  // ตั้งค่าสีข้อความเป็นสีแดง
  }

}

@media (max-width: 1380px) {  // กำหนดสไตล์ที่ใช้เมื่อความกว้างหน้าจอน้อยกว่า 1380px
  label {  // กำหนดสไตล์สำหรับป้ายกำกับ (label)
    color: #000000;  // ตั้งค่าสีข้อความเป็นสีดำ
    font-size: 14px !important;  // กำหนดขนาดฟอนต์เป็น 14px โดยบังคับให้มีผล
    font-weight: 500 !important;  // ตั้งน้ำหนักฟอนต์เป็น 500 โดยบังคับให้มีผล
    display: block;  // ทำให้ป้ายกำกับแสดงในลักษณะบล็อก
    margin-right: 1rem;  // กำหนดระยะห่างขวาเป็น 1rem
  }

  button {  // กำหนดสไตล์สำหรับปุ่ม
    span {  // กำหนดสไตล์สำหรับ span ภายในปุ่ม
      font-size: small !important;  // กำหนดขนาดฟอนต์เป็นขนาดเล็กโดยบังคับให้มีผล
    }
  }

  .symbol > label {  // กำหนดสไตล์สำหรับป้ายกำกับที่อยู่ภายใน .symbol
    font-size: 12px !important;  // กำหนดขนาดฟอนต์เป็น 12px โดยบังคับให้มีผล
  }

  process {  // กำหนดสไตล์สำหรับคอมโพเนนต์ที่ชื่อว่า process
    width: 100px !important;  // กำหนดความกว้างเป็น 100px โดยบังคับให้มีผล
  }
}

.container {  // กำหนดสไตล์สำหรับคลาส .container
  display: flex;  // ใช้ flexbox layout
  justify-content: space-between;  // จัดวางให้มีระยะห่างระหว่างรายการอย่างเท่าเทียม
  align-items: center;  // จัดให้รายการอยู่ในแนวกลางแนวตั้ง

  .p-col-4 {  // กำหนดสไตล์สำหรับคอมโพเนนต์ .p-col-4
    flex: 1;  // กำหนดให้คอลัมน์นี้ยืดตามพื้นที่ที่มีอยู่
    margin: 0 5px;  // กำหนดระยะห่างซ้ายและขวาเป็น 5px

    button {  // กำหนดสไตล์สำหรับปุ่มภายในคอลัมน์
      width: 100%;  // กำหนดความกว้างให้ปุ่มเต็มพื้นที่
      height: 50px;  // กำหนดความสูงของปุ่มเป็น 50px
    }
  }

}

.input-element {  // กำหนดสไตล์สำหรับคลาส .input-element
  width: 100%;  // กำหนดความกว้างให้เต็มพื้นที่
  padding: 5px;  // กำหนดระยะห่างภายในเป็น 5px
  background-color: #f2f2f2;  // กำหนดสีพื้นหลังเป็นสีเทาอ่อน
  border: none;  // ไม่มีขอบ
  border-radius: 3px;  // กำหนดมุมโค้งให้กับ input
}

/* ในไฟล์ styles.css หรือไฟล์ CSS ที่คุณใช้ */

.by-me-1 {  // กำหนดสไตล์สำหรับคลาส .by-me-1
  background-color: var(--yellow-400);  // กำหนดสีพื้นหลังใช้ตัวแปร CSS
  border-color: var(--yellow-500);  // กำหนดสีขอบใช้ตัวแปร CSS
}

.by-me-2 {  // กำหนดสไตล์สำหรับคลาส .by-me-2
  background-color: var(--green-400);  // กำหนดสีพื้นหลังใช้ตัวแปร CSS
  border-color: var(--green-500);  // กำหนดสีขอบใช้ตัวแปร CSS
}

.by-me-3 {  // กำหนดสไตล์สำหรับคลาส .by-me-3
  background-color: var(--cyan-200);  // กำหนดสีพื้นหลังใช้ตัวแปร CSS
  border-color: var(--cyan-300);  // กำหนดสีขอบใช้ตัวแปร CSS
}
