<p-button
  label="Cutting Tools"
  routerLink="/pages/add-cuttingtool"
  severity="secondary"
  class="Tools-button"
  [ngStyle]="{ 'margin-right': '20px' }"
></p-button>

<p-button
  label="Cutting Oil"
  routerLink="/pages/add-oil"
  severity="secondary"
  class="Oil-button"
  [ngStyle]="{ 'margin-right': '20px' }"
></p-button>

<p-button
  label="Grinding Material"
  routerLink="/pages/add-grinding"
  severity="secondary"
  class="Grinding-button"
  [ngStyle]="{ 'margin-right': '20px' }"
></p-button>
<br> <br> <br>
<p-button
  label="Machine Set Up Tool"
  routerLink="/pages/add-set-up"
  severity="secondary"
  class="Set Up-button"
  [ngStyle]="{ 'margin-right': '20px' }"
></p-button>

<p-button
  label="Cleaning Solution"
  routerLink="/pages/add-cleaning"
  severity="secondary"
  class="Cleaning-button"
  [ngStyle]="{ 'margin-right': '20px' }"
></p-button>

<p-button
  label="Other"
  routerLink="/pages/add-other"
  severity="secondary"
  class="Other-button"
  [ngStyle]="{ 'margin-right': '20px' }"
></p-button>


