::ng-deep {  /* ใช้ ::ng-deep เพื่อข้ามการจำกัด CSS ของ Angular และให้แน่ใจว่าสไตล์นี้สามารถนำไปใช้กับส่วนประกอบลูกได้ */

  .SetComplete {  /* คลาสสำหรับสถานะ 'SetComplete' */
    background-color: rgb(43, 179, 95);  /* กำหนดสีพื้นหลังเป็นสีเขียว */
    color: white;  /* กำหนดสีข้อความเป็นสีขาว */
    padding: 4px 8px;  /* กำหนดการเติมภายใน (padding) */
    text-align: center;  /* จัดข้อความให้อยู่ตรงกลาง */
    border-radius: 5px;  /* ทำมุมของกล่องให้มน */
    font-size: medium;  /* กำหนดขนาดฟอนต์เป็นขนาดกลาง */
  }

  .Waiting {  /* คลาสสำหรับสถานะ 'Waiting' */
    background-color: rgb(207, 209, 104);  /* กำหนดสีพื้นหลังเป็นสีเหลือง */
    color: white;  /* กำหนดสีข้อความเป็นสีขาว */
    padding: 4px 8px;  /* กำหนดการเติมภายใน (padding) */
    text-align: center;  /* จัดข้อความให้อยู่ตรงกลาง */
    border-radius: 5px;  /* ทำมุมของกล่องให้มน */
    font-size: medium;  /* กำหนดขนาดฟอนต์เป็นขนาดกลาง */
  }

  .Setting {  /* คลาสสำหรับสถานะ 'Setting' */
    background-color: rgb(104, 206, 209);  /* กำหนดสีพื้นหลังเป็นสีน้ำเงินอมเขียว */
    color: white;  /* กำหนดสีข้อความเป็นสีขาว */
    padding: 4px 8px;  /* กำหนดการเติมภายใน (padding) */
    text-align: center;  /* จัดข้อความให้อยู่ตรงกลาง */
    border-radius: 5px;  /* ทำมุมของกล่องให้มน */
    font-size: medium;  /* กำหนดขนาดฟอนต์เป็นขนาดกลาง */
  }

  .Draft {  /* คลาสสำหรับสถานะ 'Draft' */
    background-color: rgb(153, 233, 184);  /* กำหนดสีพื้นหลังเป็นสีเขียวอ่อน */
    color: white;  /* กำหนดสีข้อความเป็นสีขาว */
    padding: 4px 8px;  /* กำหนดการเติมภายใน (padding) */
    text-align: center;  /* จัดข้อความให้อยู่ตรงกลาง */
    border-radius: 5px;  /* ทำมุมของกล่องให้มน */
    font-size: medium;  /* กำหนดขนาดฟอนต์เป็นขนาดกลาง */
  }

  .Issue {  /* คลาสสำหรับสถานะ 'Issue' */
    background-color: rgb(43, 179, 95);  /* กำหนดสีพื้นหลังเป็นสีเขียว */
    color: white;  /* กำหนดสีข้อความเป็นสีขาว */
    padding: 4px 8px;  /* กำหนดการเติมภายใน (padding) */
    text-align: center;  /* จัดข้อความให้อยู่ตรงกลาง */
    border-radius: 5px;  /* ทำมุมของกล่องให้มน */
    font-size: medium;  /* กำหนดขนาดฟอนต์เป็นขนาดกลาง */
  }

  .Active {  /* คลาสสำหรับสถานะ 'Active' */
    color: red;  /* กำหนดสีข้อความเป็นสีแดง */
  }

}  /* สิ้นสุดการใช้ ::ng-deep */
