::ng-deep {
  .ui-badge:empty {
    display: none;
  }
}

 .layout-topbar {
   background-color: rgb(124, 190, 124);
 }
 span {
  color: black;
 }
 .ChangeLanguage {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  cursor: pointer;
  margin-left: 15px;
  vertical-align: middle;
  margin-top: 8px;
 }
 .icon-spacing {
  margin-right: 10px; /* เพิ่มระยะห่างทางขวาเท่ากัน */
  display: flex;
  align-items: center;
}



